version: '3.8'

services:
  backend:
    build: 
      context: ./API
      dockerfile: Dockerfile
    container_name: portfolio_backend
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}
      - REDIS_URL=redis://redis:6379/0
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

  frontend:
    build:
      context: ./UI
      dockerfile: Dockerfile
    container_name: portfolio_frontend
    ports:
      - "80:80"
    environment:
      - BACKEND_URL=http://backend:8000
      - NGINX_ENVSUBST_FILTER=BACKEND_URL
    depends_on:
      - backend
    restart: always

  db:
    image: postgres:15-alpine
    container_name: portfolio_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    restart: always

  redis:
    image: redis:alpine
    container_name: portfolio_redis
    restart: always

volumes:
  postgres_data:
